
#include <stdio.h>

//Compiler version gcc  6.3.0

int main()
{
  int a[3][3]; // declaration of arrray and size
  int i,j; // variable
  int m=0; // variable 
  for (i=0;i<2;i++){ // nested value for storing values in array 
  
    for (j=0; j<2; j++){
      a[i][j]=m;
      m++;
    }
  }
   for (i=0;i<2;i++){ // print arrays
     for(j=0;j<2;j++){
       printf("%d ",a[i][j]);
     
     }
     printf("\n");
   }
   
  return 0;
}
